{% extends 'feed/wrapper.html' %}
{% load filename %}
{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col col-lg-7">
                {% for post in posts %}
                    <div class="post bg-dark rounded pb-3 mb-5">
                        <div class="d-flex justify-content-between align-items-center border-bottom border-secondary mb-3 p-2">
                            <div class="d-flex align-items-center">
                                {% if post.user_profile.icon != None %}
                                <img src="{{post.user_profile.icon.url}}" class="img-fluid" style="width: 30px; height: 30px; border-radius: 50%;">
                                {% else %}
                                <img src="../../../media/non_user_icons/icon.png" style="width: 30px; height: 30px; border-radius: 50%;">
                                {% endif %}
                                <a href="/user/{{post.user_profile.id}}/" style="text-decoration: none;"><h3 class="ms-2 text-light">{{ post.user_profile.username }}</h3></a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu" style="width: 20px;">
                                    <li><a class="dropdown-item" href="/delete/{{post.id}}" style="font-weight: bolder;"><i class="bi bi-trash" style="color: red;"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3 mx-3">
                            <h1 class="text-light" id="post-title">{{post.title}}</h1>
                        </div>
                        <div class="d-flex flex-direction-row justify-content-between border border-secondary m-3 p-2">
                            <h4 class="text-light">{{ post.uploaded_file|filename }}</h4>
                            <a href="{{post.uploaded_file.url}}" class="btn btn-danger" download>Download</a>
                        </div>
                        <div class="m-3 p-2">
                            <p class="text-light">{{post.desc}}</p>
                        </div>
                        <div class="mx-3 mb-1 p-2">
                            <h6 class="text-light">Published: {{post.published_date}}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}